@import "../utils/mixins";

.attributesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;

  @media #{$laptop} {
    height: 120px;
  }

  @media #{$mini-laptop} {
    height: 120px;
  }

  @media #{$tablet} {
    flex-wrap: wrap;
    height: 250px;
  }

  @media #{$phone} {
    justify-content: center;
    flex-wrap: wrap;
    height: 470px;
  }

  .attributesTeam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 22%;
    height: 120px;
    border: 0;
    border-radius: 40px;
    background-color: #8a8a8a;
    box-shadow: inset 30px 60px 70px #ffffffb3;

    @media #{$laptop} {
      width: 22%;
      height: 100px;
      border-radius: 35px;
    }

    @media #{$mini-laptop} {
      width: 23%;
      height: 90px;
      gap: 8px;
      border-radius: 30px;
    }

    @media #{$tablet} {
      width: 45%;
      height: 90px;
      gap: 15px;
      border-radius: 30px;
    }

    @media #{$phone} {
      width: 100%;
      max-width: 340px;
      height: 90px;
      gap: 15px;
      border-radius: 30px;
    }

    svg {
      width: 60px;

      @media #{$laptop} {
        width: 45px;
      }

      @media #{$mini-laptop} {
        width: 40px;
      }

      @media #{$tablet} {
        width: 40px;
      }

      @media #{$phone} {
        width: 40px;
      }
    }

    span {
      color: #ffffff;
      font-size: 1.6rem;
      font-family: morabba-semi-bold;

      @media #{$laptop} {
        font-size: 1.3rem;
      }

      @media #{$mini-laptop} {
        font-size: 1.3rem;
      }

      @media #{$tablet} {
        font-size: 1.3rem;
      }

      @media #{$phone} {
        font-size: 1.2rem;
      }
    }
  }
}
