@import "../utils/mixins";

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  border: none;
  border-radius: 60px;
  background-color: #f1f1f1;

  @media #{$laptop} , #{$mini-laptop} , #{$phone} {
    width: 350px;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 60%;
    border-bottom: 2px solid #c4c4c4;

    img {
      width: 200px;
    }
  }

  .productSummery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    gap: 5px;
    padding: 20px 30px;
    position: relative;

    @media #{$phone} {
      padding: 20px 15px;
    }

    h2 {
      font-family: morabba-regular;
      font-size: 1.6rem;
      color: #1a1c20;

      @media #{$laptop} {
        font-size: 1.5rem;
      }
    }

    h3 {
      font-family: morabba-ultra-light;
      font-size: 1.3rem;
      color: #989898;
      margin-bottom: 30px;

      @media #{$laptop} {
        font-size: 1rem;
      }
    }

    .saveIcon {
      width: 25px;
      position: absolute;
      left: 30px;
    }

    .priceAndPeek {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 130px;
        height: 40px;
        border: none;
        border-radius: 15px;
        background-color: #e5e5e5;
        color: #1a1c20;
        font-family: morabba-light;
        font-size: 1.4rem;
        transition: all linear 0.3s;

        svg {
          width: 20px;

          path {
            stroke: #1a1c20;
          }
        }
      }

      button:hover {
        background-color: #b2b2b2;
        cursor: pointer;
      }

      span {
        display: inline;
        font-family: morabba-medium;
        font-size: 1.3rem;
        color: #1a1c20;

        @media #{$phone} {
          font-size: 1.2rem;
        }
      }
    }
  }
}
