@import "../utils/mixins";

.cardsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;

  @media #{$phone} {
    height: 90px;
  }

  h2 {
    font-family: morabba-bold;
    font-size: 2rem;
    color: #1a1c20;
  }
}

.cardsNavigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  height: 120px;
  position: absolute;

  @media #{$phone} {
    justify-content: center;
    align-items: center;
    position: unset;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
  }

  a::before {
    width: 80px;
    height: 7px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    position: absolute;
    bottom: 3px;
    content: "";
    z-index: -1;
  }

  a {
    width: max-content;
    height: max-content;
    font-size: 1.2rem;
    color: #1a1c20;
    text-decoration: none;
    position: relative;
    z-index: 2;
  }
}
