@import "../utils/mixins";

.csContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
  height: 300px;
  padding: 0 40px;

  @media #{$mini-laptop} {
    padding: 0 20px;
    height: 300px;
  }

  @media #{$tablet} {
    gap: 30px;
    height: 500px;
  }

  @media #{$phone} {
    gap: 30px;
    height: 650px;
    padding: 0 10px;
  }

  @media (min-width: 320px) and (max-width: 339px) {
    height: 700px;
  }

  .Title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    h2::before {
      content: "";
      position: absolute;
      top: 20px;
      width: 105px;
      height: 10px;
      border: 0;
      border-radius: 3px;
      background-color: #f9b356;
      z-index: -1;
    }

    h2 {
      position: relative;
      color: #1a1c20;
      font-size: 1.7rem;
      font-family: morabba-bold;
    }
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    @media #{$mini-laptop} {
      height: 300px !important;
    }

    @media #{$tablet} {
      height: 400px;
    }

    @media #{$phone} {
      height: 100%;
    }

    @media (min-width: 320px) and (max-width: 339px) {
      height: 700px;
    }

    .swiperSlide {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 110px;
      position: relative;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 40px;
      background-color: #efefef;

      @media #{$laptop} {
        gap: 60px;
      }

      @media #{$mini-laptop} {
        gap: 40px;
        height: 180px !important;
      }

      @media #{$tablet} {
        gap: 10px;
        height: 75%;
      }

      @media #{$phone} {
        align-items: flex-start;
        padding: 40px 0;
      }

      .sliderItemContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 8px;
        width: 100%;

        @media #{$phone} {
          flex-direction: row;
          width: 100%;
        }

        .imagesContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 50%;

          @media #{$phone} {
            flex-direction: column;
            gap: 15px;
          }
        }

        .imageBg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 110px;
          height: 110px;
          border: 0;
          border-radius: 25px;
          background-color: #8578ff;

          img {
            width: 80px;

            @media #{$laptop} {
              width: 80px;
            }

            @media #{$mini-laptop} {
              width: 65px;
            }

            @media #{$tablet} {
              width: 50px;
            }

            @media #{$phone} {
              width: 40px;
            }
          }

          @media #{$mini-laptop} {
            width: 90px;
            height: 90px;
          }

          @media #{$laptop} {
            width: 95px;
            height: 95px;
          }

          @media #{$tablet} {
            width: 85px;
            height: 85px;
            border-radius: 20px;
          }

          @media #{$phone} {
            width: 80px;
            height: 80px;
            border-radius: 20px;
          }
        }

        .imageBg:nth-child(odd) {
          background-color: #f9b356;
        }

        .navContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50%;

          @media #{$phone} {
            flex-direction: column;
            gap: 63px;
          }

          .items {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 18%;
            color: #838384;
            font-size: 1.3rem;
            font-family: morabba-regular;
            cursor: pointer;
            transition: linear 0.3s;
            text-decoration: none;

            
            @media #{$mini-laptop} {
              width: 18%;
            }

            @media #{$laptop} {
              width: 18%;
            }

            @media #{$tablet} {
              width: 19%;
              font-size: 1.2rem;
            }

            @media #{$phone} {
              text-align: center;
              width: 110px;
            }
          }

          .items:hover {
            color: #1a1c20;
          }

          .active::before {
            content: " ";
            position: absolute;
            bottom: 3px;
            width: 50px;
            height: 3px;
            border-radius: 20px;
            background-color: #f9b356;
            z-index: -1;
          }

          .active {
            position: relative;
            color: #1a1c20;
          }
        }
      }
    }
  }
}
