@import "../utils/mixins";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  gap: 8%;

  @media #{$phone} {
    flex-wrap: wrap;
    gap: 20px;
    height: 200px;
  }

  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    height: max-content;
    font-family: morabba-light;
    font-size: 2rem;
    color: #a2a2a2;
    background-color: #e9e9e9;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;

    @media #{$phone} {
      width: 200px;
      height: 50px;
    }

    @media #{$tablet},#{$phone} {
      font-size: 1.4rem;
    }

    svg {
      width: 25px;

      @media #{$phone} {
        width: 20px;
      }
    }

    path {
      stroke: #a2a2a2;
    }
  }

  .filters:hover {
    cursor: pointer;
  }

  .activeFilter {
    color: #1a1c20;
    background-color: #8578FF;

    path {
      stroke: #1a1c20;
    }
  }

  .unActiveFilter {
    color: #a2a2a2;
    background-color: #e9e9e9;
  }

  // .newsFilter,
  // .offSaleFilter,
  // .highSaleFilter {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: max-content;
  //   height: max-content;
  // }
}
