@import "../utils/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;

  @media #{$tablet} {
    height: 200px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.4px);
    -webkit-backdrop-filter: blur(16.4px);
    border: 1px solid rgba(0, 0, 0, 0.32);
    padding: 10px 50px;
  }

  @media #{$phone} {
    height: 200px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.4px);
    -webkit-backdrop-filter: blur(16.4px);
    border: 1px solid rgba(0, 0, 0, 0.32);
    padding: 10px 15px;
  }

  i {
    font-style: normal;
    font-size: 0.9rem;
    color: #1a1c20;

    @media #{$tablet} {
      color: #f0f0f0;
    }

    @media #{$phone} {
      font-size: 1rem;
      color: #f0f0f0;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 10px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 40px;

      h2,
      h3 {
        width: 70%;
        font-family: morabba-ultra-light;
        font-size: 1.7rem;
        color: #1a1c20;

        @media #{$laptop}, #{$mini-laptop} {
          font-size: 1.4rem;
          width: 50%;
        }

        @media #{$tablet} {
          color: #f0f0f0;
        }

        @media #{$phone} {
          font-size: 1.4rem;
          width: 60%;
          color: #f0f0f0;
        }
      }

      span {
        width: 30%;
        font-size: 1.3rem;
        text-align: left;
        color: #1a1c20;

        @media #{$laptop}, #{$mini-laptop} {
          width: 50%;
        }

        @media #{$tablet} {
          color: #f0f0f0;
        }

        @media #{$phone} {
          font-size: 1.4rem;
          width: 40%;
          color: #f0f0f0;
        }
      }
    }
  }

  ::before,
  ::after {
    display: none;
  }

  footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25%;

    @media #{$mini-laptop} {
      height: 30%;
      margin-bottom: 20px;
    }

    @media #{$tablet}, #{$phone} {
      display: none;
    }

    p {
      width: 100%;
      font-size: 1rem;
      color: #696969;
      padding: 0 0 0 10%;
      line-height: 2rem;

      @media #{$tablet} {
        width: 60%;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;

    @media #{$phone} ,#{$tablet} {
      height: 50%;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 50px;
      font-family: morabba-regular;
      font-size: 1.8rem;
      border: none;
      border-radius: 15px;
      background-color: #f9b356;
      color: #1a1c20;
      outline: none;
      text-decoration: none;
      cursor: pointer;

      @media #{$mini-laptop} {
        font-size: 1.4rem;
      }

      @media #{$tablet} {
        width: 70%;
      }

      @media #{$phone} {
        font-size: 1.4rem;
      }
    }
  }
}
