@import "../utils/mixins";

.wrapper:nth-child(odd) {
  background-color: #ffeedb;
}

.wrapper:nth-child(even) {
  background-color: #dbd6ff;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #fde4c3;
  border: none;
  border-radius: 25px;
  padding: 30px 20px;

  @media #{$phone} {
    flex-direction: column;
    height: 100%;
  }

  i {
    font-style: normal;
    font-size: 1rem;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .productImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #fff;
    border: none;
    border-radius: 15px;

    @media #{$phone} {
      width: 100%;
      height: 50%;
    }

    img {
      width: 80%;

      @media #{$phone} {
        width: 200px;
      }
    }
  }

  .productInformation {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    row-gap: 30px;
    padding: 0 30px;

    @media #{$phone} {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: center;
      width: 93%;
      height: 50%;
      gap: 30px;
      padding: 0 20px;
    }

    .primeInfo {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 100%;
      height: max-content;

      h2 {
        font-family: morabba-regular;
        font-size: 1.8rem;
      }

      .selectedColor,
      .selectedSize {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: max-content;
        color: #726f6f;
        font-size: 1.2rem;
        gap: 5px;
      }

      .selectedSize {
        div {
          color: #1a1c20;
        }
      }
    }

    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: max-content;
      row-gap: 10px;

      path {
        stroke: #726f6f;
      }

      p {
        display: flex;
        align-items: center;
        font-family: morabba-light;
        font-size: 1.2rem;
        color: #1a1c20;
        gap: 10px;
      }
    }

    .amountContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;

      @media #{$phone} {
        justify-content: center;
        width: 100%;
        height: 20%;
      }

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
        height: max-content;

        .increaseAndDecrease {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          width: 100px;

          svg {
            width: 25px;
            height: 25px;
            border: none;
            border-radius: 4px;
            background-color: #fff;
          }

          span {
            font-size: 1.4rem;
          }
        }
      }

      .deleteContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        svg {
          width: 25px;
          height: 25px;
        }

        path {
          stroke: #726f6f;
        }

        span {
          font-size: 1.2rem;
          color: #726f6f;
        }
      }

      .deleteContainer:hover {
        cursor: pointer;
        path {
          stroke: #ff405c;
          transition: linear 0.3s;
        }

        span {
          color: #ff405c;
          transition: linear 0.3s;
        }
      }

      .priceContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        @media #{$phone} {
          justify-content: center;
          width: 120px;
        }

        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
