@import "../utils/mixins";

.main {
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "productText productImage"
    "pagination pagination";
  width: 100%;
  height: 700px;

  @media #{$laptop} {
    height: 620px;
  }

  @media #{$tablet} {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px 450px;
    grid-template-areas:
      "productImage"
      "pagination"
      "productText";
  }

  @media #{$phone} {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px 1fr;
    grid-template-areas:
      "productImage"
      "pagination"
      "productText";
  }

  .productsText {
    display: flex;
    grid-area: productText;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 20px;

    @media #{$laptop} {
      gap: 17px;
      padding-right: 0;
    }

    @media #{$mini-laptop} {
      gap: 18px;
      padding-right: 0;
    }

    @media #{$tablet} {
      gap: 18px;
      padding-right: 0;
    }

    @media #{$phone} {
      gap: 17px;
    }

    h1 {
      font-family: morabba-medium;
      font-size: 3.1rem;
      color: #1a1c20;

      @media #{$laptop} {
        font-size: 2.5rem;
      }

      @media #{$mini-laptop} {
        font-size: 2.3rem;
      }

      @media #{$tablet} {
        font-size: 2.1rem;
      }

      @media #{$phone} {
        font-family: morabba-regular;
        font-size: 2rem;
      }
    }

    h4 {
      font-family: morabba-regular;
      font-size: 1.8rem;
      color: #717171;

      @media #{$laptop} {
        font-size: 1.5rem;
      }

      @media #{$mini-laptop} {
        font-size: 1.4rem;
      }

      @media #{$tablet} {
        font-size: 1.3rem;
      }

      @media #{$phone} {
        font-family: morabba-ultra-light;
        font-size: 1.4rem;
      }
    }

    p {
      width: 450px;
      font-family: morabba-light;
      font-size: 1.5rem;
      color: #989898;
      line-height: 35px;

      @media #{$laptop} {
        width: 400px;
        font-size: 1.3rem;
      }

      @media #{$mini-laptop} {
        width: 381px;
        font-size: 1.3rem;
      }

      @media #{$tablet} {
        width: 381px;
        font-size: 1.2rem;
      }

      @media #{$phone} {
        width: 310px;
        font-size: 1.3rem;
        text-align: justify;
      }
    }

    h3 {
      font-family: morabba-ultra-light;
      font-size: 1.6rem;
      color: #989898;

      @media #{$laptop} {
        font-size: 1.4rem;
      }

      @media #{$mini-laptop} {
        font-size: 1.3rem;
      }

      @media #{$tablet} {
        font-size: 1.3rem;
      }

      @media #{$phone} {
        font-size: 1.4rem;
      }

      span {
        color: #6e6e6e;

        i {
          font-style: normal;
          font-size: 1rem;
          padding-right: 2px;
        }
      }
    }

    .productColor {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      width: 30%;

      @media #{$phone} {
        width: 100%;
      }

      @media #{$tablet} {
        gap: 12px;
      }

      h3 {
        font-family: morabba-ultra-light;
        font-size: 1.6rem;
        color: #989898;

        @media #{$laptop} {
          font-size: 1.4rem;
        }

        @media #{$mini-laptop} {
          font-size: 1.3rem;
        }

        @media #{$tablet} {
          font-size: 1.3rem;
        }

        @media #{$phone} {
          font-size: 1.4rem;
        }
      }

      .colorContainer {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;
        height: max-content;

        .activeColor {
          background-image: url(../../images/close-gray-icon.svg);
          background-repeat: no-repeat;
          background-size: 12px;
          background-position: center;
        }

        .unActiveColor {
          background-image: none;
        }

        .colors {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border: 0;
          border-radius: 10px;
          cursor: pointer;

          @media #{$laptop} {
            width: 25px;
            height: 25px;
          }

          @media #{$mini-laptop} {
            width: 24px;
            height: 24px;
          }

          @media #{$tablet} {
            width: 23px;
            height: 23px;
          }

          @media #{$phone} {
            width: 24px;
            height: 24px;
          }
        }

        .colors:nth-child(1) {
          background-color: #000000;
        }

        .colors:nth-child(2) {
          background-color: #f9b356;
        }

        .colors:nth-child(3) {
          background-color: #ff405c;
        }
      }
    }

    .productSize {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      width: 30%;

      .sizesContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: 100%;
        height: max-content;

        .items {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.4rem;
          color: #1a1c20;
          font-family: morabba-regular;
          cursor: pointer;

          @media #{$tablet} , #{$mini-laptop} {
            font-size: 1.2rem;
          }
          @media #{$phone} , #{$laptop} {
            font-size: 1.3rem;
          }
        }
        
        .active {
          padding: 5px 10px 0 10px;
          border: none;
          border-radius: 10px;
          background-color: rgb(65, 65, 65);
          color: #fff;
        }
        .inActive {
          background-color: transparent;
        }
      }
    }

    button {
      width: 280px;
      height: 50px;
      font-size: 1.5rem;
      font-family: morabba-regular;
      border: 0;
      border-radius: 15px;
      color: #1a1c20;
      background-color: #f9b356;
      margin-top: 20px;
      transition: linear 0.3s;
      cursor: pointer;

      @media #{$laptop} {
        width: 240px;
        font-size: 1.4rem;
      }

      @media #{$mini-laptop} {
        width: 230px;
        height: 45px;
        font-size: 1.3rem;
      }

      @media #{$tablet} {
        width: 230px;
        height: 45px;
        font-size: 1.3rem;
      }

      @media #{$phone} {
        width: 230px;
        font-size: 1.4rem;
      }
    }

    button:hover {
      color: #ff9305;
      background-color: #f9b25680;
      border: 2px solid #f9b356;
    }
  }

  .productImage {
    display: flex;
    grid-area: productImage;
    grid-row: 1/3;
    justify-content: center;
    align-items: flex-end;

    @media #{$phone} {
      grid-row: 1/2;
    }

    @media #{$mini-laptop} {
      // height: 633px;
      align-items: center;
    }

    @media #{$tablet} {
      grid-row: 1/2;
    }

    .productBGImage {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      width: 550px;
      height: 680px;
      border-radius: 80px;
      background-color: #f6f6f6;

      @media #{$laptop} {
        width: 400px;
        height: 580px;
        border-radius: 60px;
      }

      @media #{$mini-laptop} {
        width: 400px;
        height: 550px;
        border-radius: 60px;
      }

      @media #{$tablet} {
        width: 400px;
        height: 520px;
        border-radius: 60px;
      }

      @media #{$phone} {
        width: 250px;
        height: 330px;
        border-radius: 50px;
      }

      img {
        width: 400px;

        @media #{$laptop} {
          width: 320px;
        }

        @media #{$mini-laptop} {
          width: 300px;
        }

        @media #{$tablet} {
          width: 300px;
        }

        @media #{$phone} {
          width: 180px;
        }
      }
    }
  }

  .pagination {
    display: flex;
    grid-area: pagination;
    grid-column: 1/2;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 18px;
    padding-left: 15px;
    border: 0;

    @media #{$mini-laptop} {
      height: 120px;
    }

    @media #{$tablet} {
      justify-content: center;
      align-items: center;
      gap: 35px;
    }

    @media #{$phone} {
      justify-content: center;
      align-items: center;
      gap: 11px;
    }

    .paginationBGImage {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 110px;
      border-radius: 30px;
      background-color: #f6f6f6;

      @media #{$laptop} {
        width: 82px;
        height: 82px;
        border-radius: 20px;
      }

      @media #{$mini-laptop} {
        width: 85px;
        height: 85px;
        border-radius: 20px;
      }

      @media #{$tablet} {
        width: 100px;
        height: 100px;
        border-radius: 30px;
      }

      @media #{$phone} {
        width: 65px;
        height: 65px;
        border-radius: 20px;
      }

      img {
        width: 60px;

        @media #{$laptop} {
          width: 45px;
        }

        @media #{$mini-laptop} {
          width: 45px;
        }

        @media #{$tablet} {
          width: 50px;
        }

        @media #{$phone} {
          width: 35px;
        }
      }
    }
  }
}
