.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 0 15rem;

  .container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: -30px;
    border: 0;
    border-radius: 5px;
    background-color: #dbdbdb;
  }

  .container::after {
    content: "";
    position: absolute;
    width: 33%;
    height: 8px;
    bottom: -30px;
    border: 0;
    border-radius: 5px;
    background-color: #f9b356;
  }

  .container {
    display: flex;
    width: 80%;
    height: max-content;
    position: relative;

    .numbersIndicatorContainer {
      display: flex;
      align-items: center;
      gap: 15%;
      width: 100%;
      height: max-content;

      .enable {
        .number {
          background-color: #ffeedb;
        }
      }

      .enable,
      .current,
      .disable {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: max-content;

        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          border: 0;
          border-radius: 50%;
          border: 3px solid #f9b356;
          color: #f9b356;
          font-family: morabba-regular;
          font-size: 2.2rem;

          img {
            width: 30px;
            height: 30px;
          }
        }

        .text {
          font-size: 1.6rem;
          color: #f9b356;
        }
      }

      .disable {
        .number {
          color: #9b9898;
          background-color: #dbdbdb;
          border: none;
        }

        .text {
          color: #9b9898;
        }
      }
    }
  }
}
