@import "../utils/mixins";

.vitrinWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  direction: ltr;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    h2::before {
      width: calc(100% - 15%);
      height: 18px;
      content: " ";
      position: absolute;
      border: none;
      border-radius: 2px;
      background-color: #f9b356;
      bottom: 12px;
      right: -2px;
      z-index: -1;

      @media #{$tablet},#{$phone} {
        width: 95px;
        height: 10px;
      }
    }

    h2 {
      width: max-content;
      font-size: 2.8rem;
      color: #1a1c20;
      position: relative;

      @media #{$tablet},#{$phone} {
        font-size: 2rem;
      }
    }
  }

  .vitrinContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
      "top-one top-two top-three top-four"
      "middle-one middle-one middle-two middle-two"
      "bottom-one bottom-two bottom-three bottom-four";
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;

    @media #{$laptop} , #{$mini-laptop} {
      grid-template-rows: repeat(3, 200px);
    }

    @media #{$tablet} {
      grid-template-rows: repeat(3, 150px);
    }

    @media #{$phone} {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 200px);
      grid-template-areas:
        "top-three top-four"
        "middle-one top-two"
        "bottom-one bottom-one"
        "bottom-two top-one"
        "bottom-three bottom-four";
    }

    .vitrinItems {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 10px;
      box-shadow: inset 50px 50px 90px #ffffff73;

      img {
        width: 50%;

        @media #{$tablet} ,#{$phone} {
          width: 120px;
        }
      }

      input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 2;
        border: 0;
        border-radius: 50%;
        color: transparent;
        background-color: transparent;
        background-image: url(../../images/place-holder-image.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;
        cursor: pointer;
      }
    }

    .vitrinItems:nth-child(1) {
      background-color: #b2b2b2;
      border-radius: 80px 10px 10px 10px;
      grid-area: top-one;

      @media #{$phone} {
        border-radius: 10px;
      }
    }

    .vitrinItems:nth-child(2) {
      background-color: #aedfff;
      grid-area: top-two;
      grid-row: 1/3;

      @media #{$phone} {
        grid-row: 3/2;
      }
    }

    .vitrinItems:nth-child(3) {
      background-color: #ff6143;
      grid-area: top-three;
      grid-row: 2/4;

      @media #{$phone} {
        border-radius: 30px 10px 10px 10px;
        grid-row: 1/2;
      }
    }

    .vitrinItems:nth-child(4) {
      background-color: #f9b356;
      border-radius: 10px 80px 10px 10px;
      grid-area: top-four;
      grid-row: -4/-2;

      @media #{$phone} {
        grid-row: 1/2;
        border-radius: 10px 30px 10px 10px;

        img {
          width: 90px;
        }
      }
    }

    .vitrinItems:nth-child(5) {
      background-color: #ffcd43;
      grid-area: middle-one;
      grid-column: 1/2;

      @media #{$phone} {
        grid-row: 2/3;
      }
    }

    .vitrinItems:nth-child(6) {
      background-color: #b32eff;
      border-radius: 10px 10px 10px 80px;
      grid-area: bottom-one;

      @media #{$phone} {
        border-radius: 10px;
      }
    }

    .vitrinItems:nth-child(7) {
      background-color: #ff9a87;
      grid-area: bottom-two;
    }

    .vitrinItems:nth-child(8) {
      background-color: #7f40ff;
      grid-area: bottom-three;
      grid-row: 1/2;

      @media #{$phone} {
        grid-row: 5/6;
        border-radius: 10px 10px 10px 30px;
      }
    }

    .vitrinItems:nth-child(9) {
      background-color: #79b7cb;
      border-radius: 10px 10px 80px 10px;
      grid-area: bottom-four;

      @media #{$phone} {
        border-radius: 10px 10px 30px 10px;
      }
    }
  }
}
