$laptop: "(min-width:1367px) and (max-width:1600px)";

$mini-laptop: "(min-width: 1025px) and (max-width: 1366px)";

$tablet: "(min-width: 768px) and (max-width: 1024px)";

$phone: "(min-width: 320px) and (max-width: 767px)";

$unsupported: "(min-width: 0px) and (max-width: 319px)";
