@import "../utils/mixins";

.categoryMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 100px;

  @media #{$mini-laptop} {
    row-gap: 20px;
  }

  @media #{$phone} {
    padding: 10px;
  }

  .categoryProduct {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;

    .cardsWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 30px;

      @media (min-width: 1700px) and (max-width: 4000px) {
        width: 80%;
        margin: auto;
        gap: 45px;
      }

      @media (min-width: 1025px) and (max-width: 1230px) {
        justify-content: space-evenly;
        padding: 0 20px;
      }

      @media #{$phone} {
        padding: 0 20px;
      }
    }
  }

  .categoryContainer::before {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 70px;
    background-color: #ffb95d;
    box-shadow: inset 50px 50px 90px #ffffff62;
    content: "";
    position: absolute;
    z-index: -1;

    @media #{$phone} {
      border-radius: 40px;
    }
  }

  .categoryContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    @media #{$phone} {
      flex-wrap: wrap;
    }
  }

  .categoryProduct:nth-child(even) {
    .categoryContainer::before {
      background-color: #8578ff;
    }
  }
}
