@import "../utils/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  .cartDetailsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    gap: 30px;
    margin-top: 100px;

    @media #{$tablet} {
      flex-direction: column;
      height: 1100px;
      margin-top: 10px;
    }

    @media #{$phone} {
      flex-direction: column;
      margin-top: 50px;
      height: 1500px;
    }

    .productsContainer {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: max-content;
      row-gap: 30px;

      @media #{$tablet} , #{$phone} {
        width: 100%;
      }
    }

    .proceedContainer {
      width: 30%;
      height: 355px;

      @media #{$laptop} {
        height: 61%;
      }

      @media #{$mini-laptop} {
        height: 64%;
      }

      @media #{$tablet} {
        width: 100%;
        height: max-content;
        position: sticky;
        inset: 0;
        bottom: 10px;
        z-index: 85;
      }

      @media #{$phone} {
        width: 100%;
        height: max-content;
        position: sticky;
        inset: 0;
        bottom: 5px;
        z-index: 85;
      }
    }
  }

  // .randomProducts {
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  //   height: 100%;
  //   margin-top: 200px;
  //   padding: 20px;

  //   @media #{$tablet} {
  //     margin-top: 50px;
  //   }

  //   @media #{$phone} {
  //     margin-top: 10px;
  //   }

  //   .title::before {
  //     content: "";
  //     position: absolute;
  //     top: 20px;
  //     width: 175px;
  //     height: 12px;
  //     border: none;
  //     background-color: #f9b356;
  //     z-index: -1;
  //   }

  //   .title {
  //     display: flex;
  //     width: 100%;
  //     height: 80px;
  //     font-family: morabba-bold;
  //     font-size: 2.2rem;
  //     color: #1a1c20;
  //     position: relative;
  //   }

  //   .cardsContainer {
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     align-items: center;
  //     width: 100%;
  //     height: 100%;
  //     gap: 40px;
  //   }
  // }

  .attributesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
  }

  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;

    @media #{$phone} {
      margin-top: 100px;
    }
  }
}
