@import "../utils/mixins";

footer::before {
  content: " ";
  width: 85%;
  height: 170px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border: 0;
  border-radius: 40px;
  background-color: #b5aeff61;

  @media #{$laptop} {
    width: 85%;
    height: 140px;
    border-radius: 40px;
  }

  @media #{$mini-laptop} {
    width: 80%;
    height: 140px;
  }

  @media #{$tablet} {
    width: 80%;
    height: 170px;
  }

  @media #{$phone} {
    width: 70%;
    height: 150px;
    border-radius: 30px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;


  .footerContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 650px;
    border: 0;
    border-radius: 90px;
    background-color: #9f96ff;
    box-shadow: inset 70px 70px 120px rgba(255, 255, 255, 0.596);

    @media #{$laptop} {
      height: 550px;
      border-radius: 80px;
    }

    @media #{$mini-laptop} {
      height: 550px;
    }

    @media #{$tablet} {
      height: 700px;
      border-radius: 60px;
    }

    @media #{$phone} {
      width: 95%;
      height: auto;
      min-height: 600px;
      border-radius: 50px;
    }

    .row1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 92%;
      height: 60%;
      margin-top: 95px;

      @media #{$mini-laptop} {
        margin-top: 100px;
      }

      @media #{$tablet} {
        flex-direction: column;
        width: 85%;
        height: 65%;
      }

      @media #{$phone} {
        flex-direction: column;
        justify-content: flex-start;
        width: 92%;
        height: 60%;
        margin-top: 70px;
      }

      .aboutShop {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        @media #{$mini-laptop} {
          width: 60%;
        }

        @media #{$tablet} {
          width: 100%;
          gap: 15px;
        }

        @media #{$phone} {
          width: 100%;
          height: 150px;
        }

        a {
          font-size: 2.6rem;
          font-family: Morabba-Bold;
          color: #1a1c20;
          text-decoration: none;

          @media #{$laptop} {
            font-size: 2.3rem;
          }

          @media #{$mini-laptop} {
            font-size: 2rem;
          }

          @media #{$tablet} {
            font-size: 2rem;
          }

          @media #{$phone} {
            font-size: 2rem;
          }
        }

        span {
          color: #f9b356;
        }

        p {
          font-size: 1.5rem;
          line-height: 38px;
          font-family: Morabba-Light;
          text-align: justify;
          color: #ffffff;

          @media #{$laptop} {
            font-size: 1.2rem;
          }

          @media #{$mini-laptop} {
            font-size: 1.1rem;
            line-height: 33px;
            height: auto;
          }

          @media #{$tablet} {
            font-size: 1.2rem;
            line-height: 36px;
          }

          @media #{$phone} {
            display: none;
          }
        }

        .menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 20px;
          width: 100%;
          height: 100%;

          @media #{$mini-laptop} {
            height: 100px;
          }

          @media #{$tablet} {
            margin-top: 20px;
          }

          @media #{$phone} {
            flex-wrap: wrap;
            height: 50%;
            margin-top: 15px;
          }

          a {
            text-decoration: none;
            position: relative;
            font-size: 1.7rem;
            font-family: morabba-medium;
            color: #1a1c20;
            transition: linear 0.3s;

            @media #{$laptop} {
              font-size: 1.4rem;
            }

            @media #{$mini-laptop} {
              font-size: 1.2rem;
            }

            @media #{$tablet} {
              font-size: 1.4rem;
            }

            @media #{$phone} {
              font-size: 1.3rem;
            }
          }

          a:hover {
            color: #ffffff;
          }

          .borderLeft::after {
            position: absolute;
            left: -10px;
            content: "";
            width: 2px;
            height: 25px;
            border: 0;
            border-radius: 30px;
            background-color: #fff;
          }
        }
      }

      .aboutNamad {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        height: 100%;

        @media #{$mini-laptop} {
          width: 45%;
          gap: 35px;
        }

        @media #{$tablet} {
          flex-direction: column-reverse;
          justify-content: flex-end;
          align-items: flex-end;
          width: 100%;
          gap: 10px;
          margin-top: 30px;
        }

        @media #{$phone} {
          flex-direction: column-reverse;
          width: 100%;
        }

        .shapes {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 50px;
          width: 100%;
          height: 100%;

          @media #{$mini-laptop} {
            height: 100%;
            gap: 30px;
          }

          @media #{$tablet} {
            justify-content: flex-start;
            width: 100%;
            gap: 30px;
            margin-top: 30px;
          }

          @media #{$phone} {
            justify-content: center;
            margin-top: 20px;
            gap: 10%;
          }

          .shapeOne {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 230px;
            height: 230px;
            border-top: 3px solid #7e72ff;
            border-bottom: 3px solid #7e72ff;
            border-radius: 50%;
            background-color: none;

            @media #{$laptop} {
              width: 198px;
              height: 198px;
            }

            @media #{$mini-laptop} {
              width: 150px;
              height: 150px;
            }

            @media #{$tablet} {
              width: 130px;
              height: 130px;
            }

            @media #{$phone} {
              max-width: 140px;
              max-height: 140px;
              width: 120px;
              height: 120px;
            }

            .shapeTwo {
              display: flex;
              justify-content: center;
              width: 96%;
              height: 96%;
              border: 0px;
              border-radius: 100%;
              background-color: #c3c6f5;
              box-shadow: inset 15px 15px 99px #7b6eff;

              img {
                width: 115px;

                @media #{$laptop} {
                  width: 100px;
                }

                @media #{$mini-laptop} {
                  width: 75px;
                }

                @media #{$tablet} {
                  width: 70px;
                }

                @media #{$phone} {
                  width: 70px;
                }
              }
            }
          }
        }

        .socialNetworks {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 92%;
          height: 26%;
          gap: 35px;

          @media #{$laptop} {
            width: 95%;
            gap: 35px;
          }

          @media #{$mini-laptop} {
            width: 100%;
            height: 73px;
            gap: 30px;
          }

          @media #{$tablet} {
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 25px;
          }

          @media #{$phone} {
            justify-content: flex-start;
            width: 100%;
            height: 70px;
            gap: 22px;
            margin-top: 20px;
          }

          h3 {
            position: relative;
            font-size: 1.7rem;
            font-family: Morabba-Light;
            color: #1a1c20;

            @media #{$laptop} {
              font-size: 1.4rem;
            }

            @media #{$mini-laptop} {
              font-size: 1.2rem;
            }

            @media #{$tablet} {
              font-size: 1.4rem;
            }

            @media #{$phone} {
              font-size: 1.3rem;
            }
          }

          a:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 35px;
            border: 0;
            border-radius: 10px;
            transition: linear 0.8s;

            @media #{$mini-laptop} {
              width: 25px;
              height: 25px;
              border-radius: 10px;
            }

            @media #{$tablet} {
              width: 25px;
              height: 25px;
              border-radius: 10px;
            }

            @media #{$phone} {
              width: 24px;
              height: 23px;
              border-radius: 8px;
            }
          }

          a:nth-child(2):hover {
            background: rgb(81, 93, 180);
            background: linear-gradient(
              164deg,
              rgba(81, 93, 180, 1) 0%,
              rgba(129, 52, 175, 1) 17%,
              rgba(167, 48, 153, 1) 42%,
              rgba(221, 42, 123, 1) 66%,
              rgba(245, 133, 41, 1) 100%,
              rgba(254, 218, 119, 1) 100%
            );
          }

          a:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            border: 0;
            border-radius: 25px;
            transition: linear 0.5s;

            @media #{$mini-laptop} {
              width: 24px;
              height: 24px;
              border-radius: 20px;
            }

            @media #{$tablet} {
              width: 24px;
              height: 24px;
              border-radius: 10px;
            }

            @media #{$phone} {
              width: 23px;
              height: 23px;
              border-radius: 10px;
            }
          }

          a:nth-child(3):hover {
            background-color: #15b851;
          }

          a:nth-child(4) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border: 0;
            border-radius: 25px;
            transition: linear 0.5s;

            @media #{$mini-laptop} {
              width: 25px;
              height: 25px;
              border-radius: 20px;
            }

            @media #{$tablet} {
              width: 25px;
              height: 25px;
              border-radius: 10px;
            }

            @media #{$phone} {
              width: 22px;
              height: 22px;
              border-radius: 10px;
            }
          }

          a:nth-child(4):hover {
            background-color: #229ed9;
          }

          img {
            width: 50px;

            @media #{$laptop} {
              width: 40px;
            }

            @media #{$mini-laptop} {
              width: 32px;
            }

            @media #{$tablet} {
              width: 30px;
            }

            @media #{$phone} {
              width: 28px;
            }
          }
        }
      }
    }

    .itmabnaContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 15px;
      width: 23%;
      height: 70px;
      background-color: #e9e6ff;
      border: 0px;
      border-radius: 25px;
      box-shadow: inset 30px 60px 99px #857aff96;

      @media #{$laptop} {
        width: 23%;
        height: 50px;
        border-radius: 18px;
      }

      @media #{$mini-laptop} {
        width: 30%;
        height: 55px;
        border-radius: 20px;
      }

      @media #{$tablet} {
        width: 45%;
        height: 55px;
        border-radius: 20px;
      }

      @media #{$phone} {
        width: 70%;
        height: 55px;
        border-radius: 20px;
        box-shadow: inset 5px 10px 99px #857aff96;
      }

      h4 {
        font-size: 1.3rem;
        font-family: morabba-ultra-light;
        color: #f8f8ff;

        @media #{$laptop} {
          font-size: 1.1rem;
        }

        @media #{$mini-laptop} {
          font-size: 1rem;
        }

        @media #{$tablet} {
          font-size: 1.1rem;
        }

        @media #{$phone} {
          font-size: 1rem;
        }
      }

      a {
        text-decoration: none;
        color: #4b4497;
        font-size: 1.3rem;
        font-family: Morabba-Light;
        padding-right: 5px;

        @media #{$laptop} {
          font-size: 1.1rem;
        }

        @media #{$mini-laptop} {
          font-size: 1rem;
        }

        @media #{$tablet} {
          font-size: 1.1rem;
        }

        @media #{$phone} {
          font-size: 1rem;
        }
      }
    }
  }
}

footer::after {
  content: " ";
  width: 80%;
  height: 140px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border: 0;
  border-radius: 40px;
  background-color: #9c93ff29;

  @media #{$laptop} {
    width: 80%;
    height: 120px;
  }

  @media #{$mini-laptop} {
    width: 75%;
    height: 110px;
  }

  @media #{$tablet} {
    width: 70%;
    height: 120px;
  }

  @media #{$phone} {
    width: 60%;
    height: 110px;
  }
}
