@import "../utils/mixins";

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 600px;
  margin-top: 50px;

  @media #{$laptop} {
    height: 500px;
  }

  @media #{$mini-laptop} {
    height: 550px;
  }

  @media #{$tablet} {
    height: 500px;
  }

  @media #{$phone} {
    flex-direction: column;
    height: 800px;
  }

  .profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 25%;
    height: 85%;
    border: 0;
    border-radius: 70px;
    background-color: #ffdeb3;
    box-shadow: inset 50px 50px 90px #ffffff79;
    padding: 30px 60px;

    @media #{$laptop} , #{$mini-laptop} {
      width: 25%;
      height: 100%;
      padding: 30px;
    }

    @media #{$tablet} {
      width: 400px;
      height: 100%;
      border-radius: 50px;
      padding: 30px;
    }

    @media #{$phone} {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 25%;
      border-radius: 20px;
      padding: 30px;
    }

    .profileContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      @media #{$phone} {
        gap: 5px;
      }

      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        border: 0;
        border-radius: 100%;
        border-top: 1.5px solid #ffa024c7;
        border-bottom: 1.5px solid #ffa024c7;

        @media #{$laptop} {
          width: 140px;
          height: 140px;
        }

        @media #{$mini-laptop} {
          width: 130px;
          height: 130px;
        }

        @media #{$tablet} {
          width: 130px;
          height: 130px;
        }

        @media #{$phone} {
          width: 80px;
          height: 80px;
        }

        img {
          width: 150px;
          height: 150px;
          border: 0;
          border-radius: 50%;

          @media #{$laptop} {
            width: 130px;
            height: 130px;
          }

          @media #{$mini-laptop} {
            width: 120px;
            height: 120px;
          }

          @media #{$tablet} {
            width: 115px;
            height: 115px;
          }

          @media #{$phone} {
            width: 70px;
            height: 70px;
          }
        }
      }

      h3 {
        font-family: morabba-light;
        font-size: 1.5rem;
        color: #1a1c20;

        @media #{$laptop} , #{$mini-laptop} ,  #{$tablet} {
          font-size: 1.2rem;
        }

        @media #{$phone} {
          font-size: 0.9rem;
          margin-top: 5px;
        }
      }
    }
  }

  .heroContainer {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "paginationSection slider productControlPanel";
    width: 75%;
    height: 85%;
    border: 0;
    border-radius: 70px;
    background-color: #ffdeb3;
    box-shadow: inset 50px 50px 90px #ffffff79;
    padding: 30px 60px;

    @media #{$laptop} {
      flex-direction: column;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "paginationSection slider productControlPanel";
      width: 75%;
      height: 100%;
      min-height: 500px;
      padding: 30px;
    }

    @media #{$mini-laptop} {
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-areas:
        "paginationSection"
        "slider"
        "productControlPanel";
      width: 75%;
      height: 100%;
      border-radius: 50px;
      padding: 20px 20px;
    }

    @media #{$tablet} {
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-areas:
        "paginationSection"
        "slider"
        "productControlPanel";
      width: 100%;
      height: 500px;
      border-radius: 50px;
      padding: 10px 20px;
    }

    @media #{$phone} {
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-areas:
        "paginationSection "
        "slider"
        "productControlPanel";
      width: 100%;
      height: 85%;
      padding: 1.5rem 1.2rem;
      border-radius: 40px;
      padding: 1rem;
    }

    section.paginationSection {
      display: flex;
      flex-flow: row wrap;
      align-self: center;
      justify-content: center;
      align-items: center;
      height: max-content;
      width: 100%;
      gap: 40px;
      grid-area: paginationSection;

      @media #{$laptop} {
        padding: 0 1rem;
      }

      @media #{$phone} {
        justify-self: center;
        flex-flow: row wrap;
        width: 80%;
        height: 100%;
        gap: 25px;
      }

      .pagination::before {
        content: "";
        position: absolute;
        width: 85px;
        height: 85px;
        border-radius: 100%;
        border-top: 1.5px solid #ffa024c7;
        border-bottom: 1.5px solid #ffa024c7;

        @media #{$tablet} , #{$phone} {
          width: 65px;
          height: 65px;
        }
      }

      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border: none;
        border-radius: 50%;
        position: relative;
        background-color: #fbe2c3;
        box-shadow: inset 1px 1px 20px #ff910067;

        @media #{$tablet} , #{$phone} {
          width: 55px;
          height: 55px;
        }

        img {
          width: 30px;
          z-index: 2;
          cursor: pointer;

          @media #{$tablet} , #{$phone} {
            width: 25px;
          }
        }
      }
    }

    section.slider::before {
      content: "";
      position: absolute;
      width: 350px;
      height: 350px;
      border: none;
      border-radius: 50%;
      background-color: #fbe2c3;
      box-shadow: inset 50px 70px 90px #ff910067;

      @media #{$laptop} {
        width: 320px;
        height: 320px;
      }

      @media #{$mini-laptop} , #{$tablet} {
        width: 230px;
        height: 230px;
      }

      @media #{$phone}, (min-width: 320px) and (max-width: 380px) {
        width: 210px;
        height: 210px;
      }
    }

    section.slider {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: slider;
      position: relative;
      width: 100%;
      height: 100%;

      input {
        width: 100%;
        height: 80%;
        z-index: 2;
        border: 0;
        border-radius: 50%;
        color: transparent;
        background-color: transparent;
        background-image: url(../../images/place-holder-image.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }

    section.slider::after {
      content: "";
      position: absolute;
      width: 370px;
      height: 370px;
      border-top: 3px solid #ffa0247c;
      border-bottom: 3px solid #ffa0247c;
      border-radius: 100%;

      @media #{$laptop} {
        width: 340px;
        height: 340px;
      }

      @media #{$mini-laptop} , #{$tablet} {
        width: 250px;
        height: 250px;
      }

      @media #{$phone} , (min-width: 320px) and (max-width: 380px) {
        width: 220px;
        height: 220px;
      }
    }

    section.productControlPanel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 40px;
      grid-area: productControlPanel;

      @media #{$laptop} {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      @media #{$mini-laptop} , #{$phone} {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 80px;
        row-gap: 0;
      }

      @media #{$tablet} {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .colorsPanel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;

        h4 {
          width: 50px;
          font-family: morabba-ultra-light;
          font-size: 1.3rem;
          color: #1a1c20;

          @media #{$tablet} {
            width: max-content;
            font-size: 1.2rem;
          }

          @media #{$phone} {
            width: 60px;
            font-size: 1.2rem;
          }
        }

        .colorContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 85%;
          height: 100%;
          gap: 20px;

          @media #{$tablet} {
            display: flex;
            flex-wrap: wrap;
            width: 80px;
            gap: 10px;
          }

          @media #{$phone} {
            width: 90%;
            gap: 15px;
          }

          .activeColor {
            background-image: url(../../images/close-icon.svg);
            background-repeat: no-repeat;
            background-size: 12px;
            background-position: center;
          }

          .unActiveColor {
            background-image: none;
          }

          .colors {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            @media #{$tablet} {
              width: 22px;
              height: 22px;
              border-radius: 8px;
            }
          }

          .colors:nth-child(1) {
            background-color: #00d9ff;
          }
          .colors:nth-child(2) {
            background-color: #ffab3b;
          }
          .colors:nth-child(3) {
            background-color: #fe3754;
          }
          .colors:nth-child(4) {
            background-color: #727272;
          }
        }
      }

      .sizePanel {
        display: flex;
        flex-direction: row;
        width: max-content;
        max-width: 210px;

        @media #{$mini-laptop} {
          height: max-content;
          position: relative;
        }

        h4 {
          font-family: morabba-ultra-light;
          font-size: 1.3rem;
          color: #1a1c20;
          width: 80px;
          height: max-content;

          @media #{$laptop} , #{$tablet} , #{$phone} {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
          }

          @media #{$mini-laptop} {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            height: max-content;
            position: absolute;
            top: 25px;
            right: -20px;
          }

          @media #{$tablet} {
            font-size: 1.2rem;
          }

          @media #{$phone} {
            font-size: 1.2rem;
          }
        }

        .sizesContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;

          @media #{$phone} {
            gap: 10px;
          }

          .items {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 35px;
            border: none;
            border-radius: 10px;
            background-color: #ffebd1;
            color: #1a1c20;
            font-family: morabba-regular;
            cursor: pointer;

            @media #{$tablet} {
              width: 40px;
              height: 30px;
              font-size: 0.9rem;
              font-family: morabba-light;
            }
          }

          .inActive {
            background-color: #ffebd1;
          }

          .active {
            background-color: #fcc070;
          }
        }
      }
    }
  }
}
