@import "../utils/mixins";

section.wrapper {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header slider productControlPanel"
    "paginationSection slider productControlPanel";
  width: 100%;
  height: 550px;
  border: 0;
  border-radius: 70px;
  background-color: #ffdeb3;
  box-shadow: inset 50px 50px 90px #ffffff79;
  padding: 30px 60px;

  @media #{$mini-laptop} {
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    grid-template-areas:
      "header slider"
      "productControlPanel productControlPanel";
    height: 700px;
    padding: 40px;
  }

  @media #{$tablet} , #{$phone} {
    grid-template-columns: 100%;
    grid-template-rows: 400px 550px 150px 250px;
    grid-template-areas:
      "header"
      "slider"
      "paginationSection"
      "productControlPanel";
    height: 100%;
    padding: 30px;
  }

  @media #{$phone} {
    grid-template-rows: 400px 450px 150px 220px;
    height: 1400px;
    padding: 20px 5px;
    border-radius: 40px;
  }

  @media (min-width: 320px) and (max-width: 380px) {
    border-radius: 20px;
  }

  header {
    display: grid;
    grid-area: header;
    flex-direction: column;
    gap: 30px;

    @media #{$mini-laptop} {
      gap: 10px;
    }

    @media #{$tablet} {
      text-align: center;
      justify-items: center;
    }

    @media #{$phone} {
      gap: 0;
      padding: 5px 10px;
    }

    h1 {
      width: 480px;
      font-size: 2.8rem;
      line-height: 5rem;
      color: #f9b356;

      @media #{$mini-laptop} {
        font-size: 2.5rem;
      }

      @media #{$phone} {
        width: 320px;
        font-size: 2rem;
        line-height: 3.8rem;
      }

      @media (min-width: 320px) and (max-width: 380px) {
        width: 250px;
        font-size: 1.8rem;
      }

      mark {
        color: #4f4896;
        background: none;
      }
    }

    p {
      width: 360px;
      font-size: 1.3rem;
      color: #6d6d6d;
      line-height: 2.3rem;

      @media #{$mini-laptop} {
        width: 340px;
        font-size: 1.2rem;
      }

      @media #{$phone} {
        width: 340px;
        font-size: 1.2rem;
      }

      @media (min-width: 320px) and (max-width: 380px) {
        width: 240px;
        font-size: 1.1rem;
      }
    }

    a::before {
      content: "";
      width: 72px;
      height: 8px;
      border: none;
      background-color: #ffae43;
      position: absolute;
      right: 0;
      bottom: 5px;
      z-index: -1;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      font-family: morabba-medium;
      font-size: 1.5rem;
      color: #1a1c20;
      text-decoration: none;
      z-index: 2;
      gap: 0.3rem;
      position: relative;
    }
  }

  section.paginationSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
    grid-area: paginationSection;

    @media #{$mini-laptop} {
      display: none;
    }

    @media #{$tablet} , #{$phone} {
      justify-content: center;
      align-items: center;
    }

    @media #{$phone} {
      flex-wrap: wrap;
    }

    .pagination::before {
      content: "";
      position: absolute;
      width: 85px;
      height: 85px;
      border-radius: 100%;
      border-top: 1.5px solid #ffa024c7;
      border-bottom: 1.5px solid #ffa024c7;
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      border: none;
      border-radius: 50%;
      position: relative;
      background-color: #fbe2c3;
      box-shadow: inset 1px 1px 20px #ff910067;

      img {
        width: 50px;
        z-index: 2;
        cursor: pointer;
      }
    }
  }

  section.slider::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    border: none;
    border-radius: 50%;
    background-color: #fbe2c3;
    box-shadow: inset 50px 70px 90px #ff910067;

    @media #{$mini-laptop} {
      width: 350px;
      height: 350px;
    }

    @media #{$phone} {
      width: 320px;
      height: 320px;
    }

    @media (min-width: 320px) and (max-width: 380px) {
      width: 280px;
      height: 280px;
    }
  }

  section.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: slider;
    position: relative;

    @media #{$mini-laptop} {
      display: none;
    }

    .mainItem {
      width: 300px;
      z-index: 2;

      @media #{$mini-laptop} {
        width: 240px;
        justify-content: flex-end;
        align-items: flex-end;
      }

      @media #{$phone} {
        width: 240px;
      }

      @media (min-width: 320px) and (max-width: 380px) {
        width: 200px;
      }
    }
  }

  section.slider::after {
    content: "";
    position: absolute;
    width: 470px;
    height: 470px;
    border-top: 3px solid #ffa0247c;
    border-bottom: 3px solid #ffa0247c;
    border-radius: 100%;

    @media #{$mini-laptop} , #{$phone} {
      width: 370px;
      height: 370px;
    }

    @media #{$phone} {
      width: 340px;
      height: 340px;
    }

    @media (min-width: 320px) and (max-width: 380px) {
      width: 300px;
      height: 300px;
    }
  }

  section.productControlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    grid-area: productControlPanel;

    @media #{$mini-laptop} {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }

    @media #{$tablet} , #{$phone} {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 80px;
      row-gap: 0;
    }

    @media #{$phone} {
      position: relative;
      top: 120px;
    }

    .colorsPanel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;

      h4 {
        width: 50px;
        font-family: morabba-ultra-light;
        font-size: 1.3rem;
        color: #1a1c20;
      }

      .colorContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 100%;
        gap: 20px;

        .activeColor {
          background-image: url(../../images/close-icon.svg);
          background-repeat: no-repeat;
          background-size: 12px;
          background-position: center;
        }

        .unActiveColor {
          background-image: none;
        }

        .colors {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }

        .colors:nth-child(1) {
          background-color: #00d9ff;
        }
        .colors:nth-child(2) {
          background-color: #ffab3b;
        }
        .colors:nth-child(3) {
          background-color: #fe3754;
        }
        .colors:nth-child(4) {
          background-color: #727272;
        }
      }
    }

    .sizePanel {
      display: flex;
      flex-direction: row;
      width: max-content;
      max-width: 210px;

      @media #{$mini-laptop} {
        height: max-content;
        position: relative;
      }

      h4 {
        font-family: morabba-ultra-light;
        font-size: 1.3rem;
        color: #1a1c20;
        width: 80px;
        height: max-content;

        @media #{$mini-laptop} {
          display: flex;
          justify-content: center;
          align-items: center;
          width: max-content;
          height: max-content;
          position: absolute;
          top: 25px;
          right: -20px;
        }

        @media #{$tablet} , #{$phone} {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;
        }
      }

      .sizesContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .items {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 35px;
          border: none;
          border-radius: 10px;
          background-color: #ffebd1;
          color: #1a1c20;
          font-family: morabba-regular;
          cursor: pointer;
        }

        .inActive {
          background-color: #ffebd1;
        }

        .active {
          background-color: #fcc070;
        }
      }
    }

    .buyAndSave {
      display: flex;
      align-items: center;
      min-width: 210px;
      gap: 15px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 50px;
        gap: 5px;
        color: #f9b356;
        border: none;
        border-radius: 15px;
        background-color: #1a1c20;
        font-family: morabba-light;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }

  section.sliderAndPagination {
    display: none;

    @media #{$mini-laptop} {
      display: grid;
      flex-direction: row;
      grid-area: slider;
      width: 450px;
      height: 450px;
    }

    section.slider {
      display: flex;
    }

    section.paginationSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: max-content;
      position: relative;
      right: -120px;
      gap: 30px;
    }
  }
}
