@import "../utils/mixins";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;

  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;

    @media #{$mini-laptop},#{$tablet} {
      width: 30%;
    }

    @media #{$phone} {
      width: 60%;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      text-decoration: none;

      h2 {
        font-family: morabba-bold;
        font-size: 2rem;
        color: #1a1c20;

        @media #{$laptop} , #{$mini-laptop} {
          font-size: 1.7rem;
        }

        @media #{$tablet} {
          font-size: 1.5rem;
        }

        @media #{$phone} {
          font-size: 1.3rem;
        }

        span {
          font-family: morabba-bold;
          font-size: 2rem;
          color: #f9b356;

          @media #{$laptop} ,#{$mini-laptop} {
            font-size: 1.7rem;
          }

          @media #{$tablet} {
            font-size: 1.5rem;
          }

          @media #{$phone} {
            font-size: 1.3rem;
          }
        }
      }

      .line {
        content: "";
        width: 2.5px;
        height: 40px;
        background-color: #1a1c20;

        @media #{$mini-laptop} {
          height: 30px;
        }

        @media #{$phone} {
          height: 35px;
        }
      }

      span {
        font-family: morabba-regular;
        font-size: 1.8rem;
        color: #f9b356;

        @media #{$laptop} , #{$mini-laptop} , #{$tablet} {
          font-size: 1.4rem;
        }

        @media #{$phone} {
          font-size: 1.3rem;
        }
      }
    }
  }

  .backToHome {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;

    @media #{$mini-laptop},#{$tablet} {
      width: 70%;
    }

    @media #{$phone} {
      width: 40%;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      background-color: #1a1c20;
      border: 0;
      border-radius: 15px;
      color: #f9b356;
      text-decoration: none;
      font-family: morabba-light;
      font-size: 1.8rem;

      @media #{$laptop} {
        width: 165px;
        height: 45px;
        font-size: 1.5rem;
      }

      @media #{$mini-laptop} , #{$tablet} {
        width: 155px;
        height: 45px;
        font-size: 1.4rem;
      }

      @media #{$phone} {
        width: 140px;
        height: 40px;
        font-size: 1.3rem;
      }

      svg {
        display: none;
      }

      @media (min-width: 280px) and (max-width: 440px) {
        width: 45px;
        height: 40px;
        border: 0;
        border-radius: 15px;
        span {
          display: none;
        }

        svg {
          display: flex;
          path {
            stroke: #f9b356;
          }
        }
      }
    }
  }
}
