@import "../utils/mixins";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;

  @media #{$tablet} ,#{$phone} {
    display: none;
  }

  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;

    a {
      color: #1a1c20;
      text-decoration: none;
      font-family: morabba-bold;
      font-size: 2rem;

      span {
        color: #f9b356;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: 80px;
    list-style: none;

    .active {
      color: #efb108;
      position: relative;
    }

    .active::after {
      content: "";
      width: 5px;
      height: 5px;
      border: 0;
      border-radius: 50%;
      background-color: #4f4896;
      position: absolute;
      bottom: -5px;
      right: 10px;
    }

    li {
      font-family: morabba-medium;
      font-size: 1.2rem;
      color: #929292;
      transition: 0.3s linear;
    }

    li:hover {
      color: #efb108;
      cursor: pointer;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 10%;
    height: 100%;

    svg {
      width: 28px;
      height: 28px;
      background-color: #fff;
    }

    img {
      width: 28px;
      height: 28px;
    }

    img:nth-child(3) {
      width: 30px;
      height: 30px;
    }

    img:hover {
      cursor: pointer;
    }
  }
}

.mobileContainer {
  display: none;

  @media #{$phone},#{$tablet} {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 20px;
  }

  & .logo {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    z-index: 99;

    a {
      color: #1a1c20;
      text-decoration: none;
      font-family: morabba-bold;
      font-size: 2rem;

      span {
        color: #f9b356;
      }
    }
  }

  .menuIcon {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    z-index: 99;
  }

  .menuContainer {
    width: 100%;
    height: 105vh;
    background-color: #1a1c20;
    border: none;
    position: absolute;
    top: -10px;
    right: -1024px;
    padding: 40px 0;
    transition: 0.8s linear;
    z-index: 90;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
      gap: 80px;
      list-style: none;
      position: relative;
      top: 40px;
      padding: 0 20px;

      .active {
        color: #efb108;
        position: relative;
      }

      .active::after {
        content: "";
        width: 5px;
        height: 5px;
        border: 0;
        border-radius: 50%;
        background-color: #4f4896;
        position: absolute;
        bottom: -5px;
        right: 10px;
      }

      li {
        font-family: morabba-medium;
        font-size: 1.4rem;
        color: #fcfcfc;
        transition: 0.3s linear;
      }

      li:hover {
        color: #efb108;
        cursor: pointer;
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      width: 100%;
      height: 20%;

      @media #{$tablet} {
        gap: 60px;
      }

      svg {
        width: 28px;
        height: 28px;
      }

      path {
        stroke: #ffdeb3;
      }
    }
  }
}
