//Reset Codes
@import "./scss/utils/mixins";

body {
  overflow-x: hidden;
}

ul.hide {
  visibility: hidden;
}

.unsupported-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ece8e8;
  color: #1a1c20;
  font-size: 1.2rem;
  inset: 0;
  z-index: 100;
  text-align: center;
  padding: 0 20px;

  @media #{$unsupported} {
    display: flex;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #1a1c20;
  font-size: 2.1rem;

  @media #{$tablet} {
    font-size: 1.9rem;
    position: relative;
    top: -45px;
  }

  @media #{$phone} {
    font-size: 1.9rem;
    position: relative;
    top: 250px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @media #{$mini-laptop} {
    top: 90px;
  }
  background-color: transparent;
}

.swiper-rtl .swiper-button-next {
  left: 40px;
  @media #{$mini-laptop} {
    left: 20px;
  }

  @media #{$tablet} {
    left: 8px;
  }

  @media #{$phone} {
    left: 120px;
  }
}

.swiper-rtl .swiper-button-prev {
  right: 40px;
  @media #{$mini-laptop} {
    right: 20px;
  }

  @media #{$tablet} {
    right: 8px;
  }

  @media #{$phone} {
    right: 120px;
  }
}

//Navbar menu animation needs to be public scss
.menu {
  display: flex;
  width: 55px;
  height: 55px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  top: -10px;
  left: -10px;

  .line {
    fill: none;
    stroke: #1a1c20;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4.5;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4.5;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4.5;
  }
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4.5;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 4.5;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4.5;
}
