@font-face {
  font-family: morabba-heavy;
  src: url(fonts/Morabba-Heavy.ttf);
}

@font-face {
  font-family: morabba-black;
  src: url(fonts/Morabba-Black.ttf);
}

@font-face {
  font-family: morabba-extra-bold;
  src: url(fonts/Morabba-ExtraBold.ttf);
}

@font-face {
  font-family: morabba-bold;
  src: url(fonts/Morabba-Bold.ttf);
}

@font-face {
  font-family: morabba-semi-bold;
  src: url(fonts/Morabba-SemiBold.ttf);
}

@font-face {
  font-family: morabba-medium;
  src: url(fonts/Morabba-Medium.ttf);
}

@font-face {
  font-family: morabba-regular;
  src: url(fonts/Morabba-Regular.ttf);
}

@font-face {
  font-family: morabba-ultra-light;
  src: url(fonts/Morabba-UltraLight.ttf);
}

@font-face {
  font-family: morabba-light;
  src: url(fonts/Morabba-Light.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: morabba-heavy;
}

body {
  font-family: morabba-regular;
}
