@import "./scss/main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 1920px;
  margin: auto;
}

body {
  padding: 20px 50px;

  @media #{$tablet} {
    padding: 20px 40px;
  }

  @media #{$phone} {
    padding: 10px 20px;
  }
}
